# Config pour le site PAN

NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Google Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Matomo Analytics
# (e.g. https://matomo.mon-serveur.com/)
NEXT_PUBLIC_MATOMO_URL=
NEXT_PUBLIC_MATOMO_SITE_ID=
